:host {
	--color-primary: #000;
	display: inline-block;
}

.weather-widget {
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	color: var(--color-primary, #000);
	text-align: center;
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, sans-serif;
}

.error {
	color: #ffebee;
	background: rgba(255, 0, 0, 0.2);
	border-radius: 8px;
}

.weather-content {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
}
