:host {
	--color-primary: #000;
	--icon-color: #fff;
	display: inline-block;
}

:host-context(:root[data-theme="light"]) {
	--icon-color: #000;
}

:host-context(:root[data-theme="dark"]) {
	--icon-color: #fff;
}

.weather-widget {
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	color: var(--color-primary, #000);
	text-align: center;
	font-size: 1rem;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		sans-serif;
}

.error {
	color: #ffebee;
	background: rgba(255, 0, 0, 0.2);
	border-radius: 8px;
}

.weather-content {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	flex-shrink: 0;
	background-color: var(--icon-color, #000);
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: contain;
}
